# N8N Configuration
N8N_VERSION=2.0.1
DOCKER_IMAGE=banzom/n8n-custom
CONTAINER_NAME=n8n-custom
N8N_PORT=5677
N8N_HOST=127.0.0.1
N8N_PROTOCOL=http
NODE_ENV=production
TZ=UTC

# Cloudflared Configuration
CLOUDFLARED_IMAGE=cloudflare/cloudflared:latest
CLOUDFLARED_CONTAINER_NAME=cloudflared-tunnel
CLOUDFLARED_TOKEN_FILE=./cloudflared_token.txt

# Docker Configuration
RESTART_POLICY=unless-stopped
